
.banner{
    padding: 60px;
    background-color: rgb(7, 37, 44);
     width: 100%;
  height: 200px;
  text-align: center;
  font-size: 100px;
  font-family:   Helvetica, sans-serif;
  color: white;
}

.contenedor-pantalla{
    display: flex;
    justify-content: center;
      width: 100%;
     height: 300px;
}
.contenedor-pantalla .pantalla{
    margin-top: 15px;
    width: 65%;
     height: 300px;
     border-radius: 20px;
     border-style: solid;
     border-color: #02d42f;
}


.contenedor-butaca{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 500px;
    font-family: 'Lucida Sans Regular' , sans-serif;
    font-size: 26px;
    text-align: center;
}
.centro {
    align-self: center;
}

.asiento{
    appearance: none;
    cursor: pointer;
    background-color: #fff;    
    width: 48px;
    height: 48px;
     border: 2px solid #175229;
}
 .ocupado{
    appearance: none;
    cursor: pointer;
    background-color: #ff0000;
    width: 48px;
    height: 48px;
     border: 2px solid #175229;
}

.asiento:checked{
    appearance: none;
    cursor: pointer;
    background-color: #02d42f;
    width: 48px;
    height: 48px;
     border: 2px solid #022d7e;
}

footer {
    padding: 50px;
    background-color:rgb(19, 73, 43);
    color: rgb(255, 255, 255);
    font-size: 18px;
     font-family: 'Lucida Sans Regular', sans-serif;
    text-align: center;
 
}
#asientos{
    margin-top: 10px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-size: 25px;
    padding: 7px;
    width: 60px;
    text-align: center;
    border-color: #022d7e;
    border-radius: 5px;
}

.send{
    margin-top: 10px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-size: 25px;
    padding: 7px;
    width: 120px;
    text-align: center;
    background-color: #022d7e;
    color: white;
    border-radius: 20px;
    border: none; /* Elimina el borde */
    cursor: pointer;

}
.send:hover{
    background-color: #053ea8;

}