*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(192, 215, 215);
    color: rgb(94, 88, 88);
    display: flex;
    justify-content: center;    
    align-items: center;
}

#background-container {
    background: #ffffffb4;
    padding: 16px;
    margin: 16px auto;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(143, 211, 254, 0.5);
    max-width: 720px;
}

header > h2  {
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 4px;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

#img-container {
    margin-bottom: 16px;
    border-radius: 50%;
    border: 5px solid rgb(192, 215, 215);
}

.data-container {
    background: rgba(157, 226, 203, 0.9);
    border-radius: 10px;
    margin: 16px 0;
    padding: 16px;
}

p, li {
    margin-bottom: 5px;
}

hr {
    height: 0.5px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    margin: 5px 0 12px;
}

ul {
    margin: 0 16px;
}

.ul-guiones {
    list-style: none;
    padding-left: 0;
}

.ul-guiones li::before {
    content: "- ";
    font-weight: lighter;
    margin-right: 5px;
}

section > h1 {
    font-size: 21px;
}

section > h2  {
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 4px;
}

div > h3  {
    font-size: 16px;
    margin-top: 4px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;

    p {
        margin-bottom: 0px;
    }
}